import /init.microtrust.rc

on init
    setprop sys.usb.ffs.aio_compat 1
    setprop sys.usb.configfs 1
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw

on fs
    install_keyring

service keystore_auth /system/bin/keystore_auth
    user system
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /system/bin/android.hardware.keymaster@4.0-service.beanpod
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

on property:vendor.sys.listener.registered=true
    start keymaster-4-0
    start gatekeeper-1-0

on property:hwservicemanager.ready=true
    start keymaster-4-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop teei_daemon
    stop keymaster-4-0
    stop gatekeeper-1-0

on boot
    start boot-hal-1-2
    start health-hal-2-1
